body {background-color:rgb(28, 32, 32);
    
    font-size: 18px;
    
color: #c9c9c9}





ul {display: flex;
        justify-content:center;
        list-style-type:none;  
        margin-top: 50px;
        font-size: 25px;
        margin: 10px 0px 200px 0px;
        
}
li{
    padding-right: 15px;
    margin-right: 20px;
}
a{
    color: white;
    text-decoration: none;
}

main img {
    
   
    width: 1000px;
    height: 350px;
        border-radius: 50%;
        border: 5px solid rgb(15, 14, 12)
    }

.container {
    
    display: flex;
    align-items: center;
}

.aboutMe {
    font-size: 15px;
    text-align: -webkit-center;

}

.centralizar-h2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    font-size: 2rem;
    color: white;
}
.centralizar-p{
    width: 50%;
}

.sections {
    margin: 100px 50px
}
legend{
    color: white;
}

section h2{
    color: white;

}

.area {
    position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;
}

#area #formulario
{
  
  display:block;
}
fieldset
{
  
}

footer img{

 width: 30px;
 height: 30px;
    
}

.social {display: flex;
    flex-direction: column;
    align-items: center;

}

nav a:hover{
    color: rgb(104, 68, 138);
}

.copyright{
    display: flex;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    padding: 15px;
    margin-bottom: 0px;
   

}

.field {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #373233;
    width: 450px;
    
}

.send-bottom{
    background-color: dimgrey;
    color: white;
    width: 150px;
    padding: 15px;

}

.jvsbutoon {
    width: 100px;
}